<h3>{{viewTitle}}</h3>

<form action="/item" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{item.itemName}}">
    <div class="form-group">
        <label>itemName</label>
        <input type="text" class="form-control" name="itemName" placeholder="itemName" value="{{item.itemName}}">
        <div class="text-danger">
            {{item.itemNameError}}</div>
    </div>
    <div class="form-group">
        <label>itemCategory</label>
        <input type="text" class="form-control" name="itemCategory" placeholder="itemCategory" value="{{item.itemCategory}}">
        <div class="text-danger">
            {{item.itemCategoryError}}</div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>itemDescription</label>
            <input type="text" class="form-control" name="itemDescription" placeholder="itemDescription" value="{{item.itemDescription}}">
        </div>
        <div class="form-group col-md-6">
            <label>itemPrice</label>
            <input type="Number" class="form-control" name="itemPrice" placeholder="itemPrice" value="{{employee.itemPrice}}">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/employee/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>